.card.card-content
  .media-content
    h1.title.is-5 Most Valuable Map
    h2.subtitle.is-6 ESL-Style CSGO Map Vote site
    .columns
      .column
        span(v-for="user in users")
          span.title.is-6(v-bind:class="{'mvm-turn': (turn == user.id)}")
            | {{ user.name }} 
          span.subtitle.is-6 ({{ user.id }})
          br
      .column
        span(v-for="map in maps")
          span.title.is-6(v-bind:class="{'mvm-banned': !map[1]}")
            | {{ map[0] }}
          br
