.card.card-content
  .media-content
    .columns
      .column.is-3
        h1.title.is-5 Most Valuable Map
        h2.subtitle.is-6 ESL-Style CSGO Map Vote site
      .column.uinfo-col
        .message
          .message-header.uinfo-head Actions
          .message-body.uinfo-body
            .columns
              .column.is-narrow
                | Username: {{ app.user.name }} 
                a(v-on:click="changename") edit
                br
                | Lobby: {{ app.user.lobby }} 
                a(v-on:click="changelobby") edit
              .column
              .column.is-narrow(v-if="app.user.id == 0")
                a.button.buttonmix-left.is-warning.actionbutton(v-on:click="votereset") Reset vote
                a.button.buttonmix-right.is-success.actionbutton(v-on:click="votestart") Start voting
    .columns.is-multiline
      .column.is-3.userlist
        span(v-for="user in users")
          span.title.is-6 {{ user.name }} 
          span.subtitle.is-6 ({{ user.id }}) 
          span.title.is-6 {{ (user.id == turn) ? '<--' : '' }}
          br
      .column.panelcolumn.is-9
        .panel
          p.panel-heading Maps
          p.panel-tabs
            a.changeview.is-active(v-on:click="changeview") All
            a.changeview(v-on:click="changeview") Available
            a.changeview(v-on:click="changeview") Banned
          a.panel-block(v-for="map in (maps_view == 0) ? maps : ((maps_view == 1) ? maps_available : maps_banned)", v-bind:class="{'mvm-banned': !map[1]}", v-on:click="ban")
            span.panel-icon
              i.fa.fa-map
            | {{ map[0] }}
      .column.is-3.userlist
        .chatlog
          span.title.is-6(v-for="msg in messages")
            | {{ (msg.sender == null) ? '' : msg.sender+": " }}
            span.subtitle.is-6 {{ msg.content }}
            br
        input.input.chatbox(type="text", placeholder="Chat here" v-on:keyup.enter="sendmessage")
