.card.card-content
  .media-content
    .columns
      .column.is-3
        h1.title.is-5 Most Valuable Map
        h2.subtitle.is-6 ESL-Style CSGO Map Vote site
      .column.uinfo-col
        .message
          .message-header.uinfo-head Actions
          .message-body.uinfo-body
            .columns
              .column.is-narrow
                | Username: {{ app.user.name }} 
                a(v-on:click="changename") edit
                br
                | Lobby: {{ app.user.lobby }} 
                a(v-on:click="changelobby") edit
              .column
              .column.is-narrow
                a.button.buttonmix-left.is-warning.actionbutton(v-on:click="votereset") Reset vote
                a.button.buttonmix-right.is-success.actionbutton(v-on:click="votestart") Start voting
    .columns
      .column.is-3
        span(v-for="user in users")
          span.title.is-6(v-bind:class="{'mvm-turn': (turn == user.id)}")
            | {{ user.name }} 
          span.subtitle.is-6 ({{ user.id }})
          br
      .column.panelcolumn
        .panel
          p.panel-heading Maps
          p.panel-tabs
            a.is-active All
            a Available
            a Banned
          a.panel-block(v-for="map in maps", v-bind:class="{'mvm-banned': !map[1]}")
            span.panel-icon
              i.fa.fa-map
            | {{ map[0] }}
