.hero.is-dark .title {
  color: black;
}
.hero.is-dark .subtitle {
  color: dimgray;
}
.card {
  width: 100%;
  height: 100%;
}
.is-fullheight {
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.hero-content {
  padding: 20px;
}
.hero-content {
  display: block !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 !important;
  -ms-flex: 0 !important;
  flex: 0 !important;
  height: 100%;
  width: 100%;
}
.load-spinner {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 0px solid transparent;
  z-index: 1001;
  color: white;
  background: rgba(0,0,0,0.5);
}
.load-spinner .fa {
  font-size: 7em !important;
}
#notie-input-yes {
  width: 100%;
}
#notie-input-no {
  display: none;
}
.column {
  overflow: auto;
}
.uinfo-col {
  padding: 0px !important;
  overflow: hidden;
}
.uinfo-head {
  padding-top: 2px !important;
  padding-left: 5px !important;
  padding-bottom: 2px !important;
  padding-right: 5px !important;
}
.uinfo-body {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.buttonmix-left {
  border-radius: 0px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.buttonmix-right {
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.actionbutton {
  height: 100%;
  width: 50%;
  margin-top: 3px;
}
.panelcolumn {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.panelcolumn .panel {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
.mvm-banned {
  background-color: #ed6c63;
  color: white;
}
.mvm-banned .panel-icon i.fa {
  color: white;
}
.mvm-turn {
  color: #ed6c63;
}
.media-content {
  position: relative;
  max-height: 100%;
  height: 100%;
}
.columns:not(:first-of-type) {
  height: calc(100% - 40.5px);
}
